<div id="chart">
  <svg width=2133 height=1082> 
      <g id="arcs" transform="translate(1065,541)"></g>
      <g id="xaxes" transform="translate(1065,541)"></g>
      <g id="yaxes" transform="translate(1065,541)"></g>
      <g id="circle" transform="translate(1065,541)"></g>
      <g id="icons" transform="translate(1065,541)"></g>
    </svg>
</div>
<div ng-repeat="stg in $ctrl.strategies">
  <div id="{{$ctrl.getStrategyId(stg)}}" class="strategy-tooltip">
      <span>{{stg}}</span>
  </div>
</div>
<!-- Arcs -->
<div ng-repeat="arc in $ctrl.arcs">
  <bullseye-arc scoreid="arc.scoreid" 
    start-angle="arc.startangle" 
    end-angle="arc.endangle" 
    inner-radius="arc.innerradius" 
    outer-radius="arc.outerradius" 
    padding="2" 
    strategy="arc.strategy"
    segment="arc.segment"
    audience="arc.audience" 
    svg-parent="chart" 
    label="arc.label",
    score="arc.score",
    user-score="arc.userValue",
    arc-clicked="$ctrl.arclicked(data)",
    arc-callback="$ctrl.callback(selectedScore, scoreid)">
  </bullseye-arc>
</div>

